In [88]:
import os
import pandas as pd

In [89]:
data_dir = '/Users/brianm/Downloads'

In [90]:

prefix_sizes_file = 'data-1603292439618.csv'
no_access_file = 'no_access.txt' 
get_access_file = 'recent_get.txt'

In [91]:
df_prefixes = pd.read_csv(os.path.join(data_dir, prefix_sizes_file))

In [92]:
df_prefixes

                                                 prefix          sum
0                                                     /            4
1                           /.md5/v1/dev/stationary/DC/        30784
2     /.md5/v1/dev/stationary/L0/Tokyo/20181100/2018...        61984
3     /.md5/v1/dev/stationary/L0/Tokyo/20181100/2018...        59552
4     /.md5/v1/dev/stationary/L0/Tokyo/20181200/2018...        45824
...                                                 ...          ...
8415  /v1/experimental/terrestrial/L0/UK_Test/202006...    872877269
8416  /v1/experimental/terrestrial/L0/UK_Test/202006...   3087107283
8417  /v1/experimental/terrestrial/L0/UK_Test/202006...  77933213218
8418  /v1/experimental/terrestrial/L0/UK_Test/20200701/       182968
8419  /v1/experimental/terrestrial/L0/UK_Test/202007...  30133112112

[8420 rows x 2 columns]

In [93]:
df_prefixes['sum'] = df_prefixes['sum'].map(lambda x: '{0:.2f}'.format(float(x) / (1024*1024*1024)))  # Change bytes to GB

In [94]:
df_prefixes

                                                 prefix    sum
0                                                     /   0.00
1                           /.md5/v1/dev/stationary/DC/   0.00
2     /.md5/v1/dev/stationary/L0/Tokyo/20181100/2018...   0.00
3     /.md5/v1/dev/stationary/L0/Tokyo/20181100/2018...   0.00
4     /.md5/v1/dev/stationary/L0/Tokyo/20181200/2018...   0.00
...                                                 ...    ...
8415  /v1/experimental/terrestrial/L0/UK_Test/202006...   0.81
8416  /v1/experimental/terrestrial/L0/UK_Test/202006...   2.88
8417  /v1/experimental/terrestrial/L0/UK_Test/202006...  72.58
8418  /v1/experimental/terrestrial/L0/UK_Test/20200701/   0.00
8419  /v1/experimental/terrestrial/L0/UK_Test/202007...  28.06

[8420 rows x 2 columns]

In [95]:
df_prefixes_large = df_prefixes[df_prefixes['sum'].astype(float) > 1].copy().reset_index()

In [96]:
df_prefixes_large

      index                                             prefix    sum
0       253                 /aii-data/aii-data-inventory/data/   1.14
1       367  /factory/postdeployment/G5RA-1007/2020-07-08T1...  26.47
2       368  /factory/postdeployment/G5RA-1022/2020-07-08T1...  28.00
3       371  /factory/predeployment/G5RA-1003/2020-01-24T15...   1.03
4       372  /factory/predeployment/G5RA-1003/2020-02-10T11...   7.50
...     ...                                                ...    ...
4203   8412  /v1/experimental/terrestrial/L0/UK_Test/202003...   1.02
4204   8414  /v1/experimental/terrestrial/L0/UK_Test/202006...   5.61
4205   8416  /v1/experimental/terrestrial/L0/UK_Test/202006...   2.88
4206   8417  /v1/experimental/terrestrial/L0/UK_Test/202006...  72.58
4207   8419  /v1/experimental/terrestrial/L0/UK_Test/202007...  28.06

[4208 rows x 3 columns]

In [97]:
no_access = set(list(pd.read_csv(os.path.join(
    data_dir, no_access_file), names=['prefix'], header=0)['prefix'].values))

In [98]:
no_access = ['/' + x for x in no_access]

In [99]:
df_large_prefix_no_access = df_prefixes_large[df_prefixes_large['prefix'].isin(no_access)]

In [100]:
df_large_prefix_no_access.drop('index', axis=1, inplace=True)

/Users/brianm/anaconda3/envs/p38_jupy/lib/python3.8/site-packages/pandas/core/frame.py:4160: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [101]:
df_large_prefix_no_access.columns = ['prefix', 'total_file_size_GB']

In [102]:
df_large_prefix_no_access.to_csv(os.path.join(data_dir, 'aii-data_prefix_large_size_no_access.csv'))

In [116]:
total_move = df_large_prefix_no_access['total_file_size_GB'].map(lambda x: float(x)).sum()

In [117]:
total_move

1002138.7999999999

In [118]:
get_set = set(list(pd.read_csv(os.path.join(data_dir, get_access_file), names=['prefix'], header=0)['prefix'].values))

In [119]:
get_set = set(['/' + x for x in get_set])

In [120]:
df_get_prefixes = df_prefixes[df_prefixes['prefix'].isin(get_set)]

In [122]:
df_get_prefixes.columns = ['prefix', 'total_file_size_GB']

In [123]:
df_get_prefixes.to_csv(os.path.join(data_dir, 'aii-data_prefix_with_recent_get.csv'))

In [124]:
total_keep = df_get_prefixes['total_file_size_GB'].map(lambda x: float(x)).sum()

In [126]:
total_keep

692130.01